<!DOCTYPE html>
<html>
<head>
  <title>Table with Find ID Button</title>
</head>
<body>
  <table border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% data.data.forEach(function(item) { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.id %></td>
          <td><%= item.email %></td>
          <td><a href="/user/<%= item.email %>">Find ID</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
